div.tempView {
  padding: 0px 20px;
}

  div.tempView span {
    float:left;
    padding: 5px;
    margin: 2px;
    display: block;
  }

  div.tempView span.odd {
    background: red;
    color: #fff;
  }

  div.tempView span.even {
        background: deepskyblue;
        color: #fff;
  }